{% extends "base.html" %}
{% load gravatar %}


{% block content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 headline">
      <h2 class="muted">
        <i class="icon-coffee"></i> Meet the Team
      </h2>
    </div>
  </div>
  <hr>
</div>

{% for user in users %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <img src="{% gravatar_url user.email 175 %}" alt="{{ user.email }}" class="img-polaroid">
    </div>
    <div class="span7 well">
      <h3>{{ user.get_full_name }}</h3>
      <p class="lead muted">{{ user.get_profile.role }}</p>
      <p>{{ user.get_profile.description|safe }}</p>
      <div id="result_{{ user }}">
        <p><button class="btn btn-block btn-mini" type="button" id="btn_{{ user }}" onclick="loadposts('{{ user }}')">See posts by {{ user }}</button></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>

function loadposts(usr) {
  $.getJSON("/posts/" + usr ,function(result) {
    var res = "#result_" + usr
    $("<hr>").appendTo(res)
    $("<h4>").html("Posts:").appendTo(res)
    $.each(result, function(i, key) {
      $("<a>").attr("href", "/" + key.slug).text(key.title).append('<br>').appendTo(res)
      $("#btn_" + usr).remove()
    });
  });
}

</script>
{% endblock %}
