{% extends "base.html" %}
{% load gravatar %}


{% block content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 headline">
      <h2 class="muted">
        <i class="icon-bullhorn"></i> About
      </h2>
    </div>
  </div>
  <hr>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7">
      <blockquote>
        <p>Testing is so important that everybody does it.</p>
        <small>@testobsessed</small>
      </blockquote>
      <p>Welcome to the Tester's Laboratory blog! Here, we discuss topics related to software testing (both manual and automated), business analysis, book reviews and more.</p>
      <p>Running a blog together is a good way to keep in touch and also sharpen our minds at the same time.</p>
      <p>We love testing and we love talking about it.</p>
      <br>
    </div>
    <div class="span2 muted" style="font-size: 98px; padding-top: 65px">
      <i class="icon-beaker icon-border"></i>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 headline">
      <h2 class="muted">
        <i class="icon-coffee"></i> Meet the Team
      </h2>
    </div>
  </div>
  <hr>
</div>

{% for user in users %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <img src="{% gravatar_url user.email 175 %}" alt="{{ user.email }}" class="img-polaroid">
    </div>
    <div class="span7 well">
      <h3>{{ user.get_full_name }}</h3>
      <p class="lead muted">{{ user.get_profile.role }}</p>
      <p>{{ user.get_profile.description|safe }}</p>
      <div id="result_{{ user }}">
        <p><button class="btn btn-block btn-mini" type="button" id="btn_{{ user }}" onclick="loadposts('{{ user }}')">See posts by {{ user }}</button></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>

function loadposts(usr) {
  $.getJSON("/posts/" + usr ,function(result) {
    var res = "#result_" + usr
    $("<hr>").appendTo(res)
    $("<h4>").html("Posts:").appendTo(res)
    $.each(result, function(i, key) {
      $("<a>").attr("href", "/" + key.slug).text(key.title).append('<br>').appendTo(res)
      $("#btn_" + usr).remove()
    });
  });
}

</script>
{% endblock %}
