{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
    <br>
      <h2>
        Blog Archive
      </h2>
    </div>
  </div>
  <hr>
</div>

<div class="container-fluid">
  {% for post in all_posts %}
  <div class="row-fluid">
    <div class="span2">
      {% ifchanged %}
      <p class="lead muted"><strong>{{ post.created|date:"Y" }}</strong></p>
      {% endifchanged %}
    </div>
    <div class="span2">
      <p class="lead muted">{{ post.created|date:"M d" }}</p>
    </div>
    <div class="span8">
      <p class="lead"><a href="{% url post post.slug %}">{{ post.title }}</a></p>
    </div>
  </div>
  <hr>
  {% endfor %}
</div>

{% endblock %}
