{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 page-header">
      <h2>Archive</h2>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="well">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th><i class="icon-calendar"></i>Date</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            {% for post in all_posts %}
            <tr>
              <td>{{ post.created|date:"M d, Y" }}</td>
              <td><a href="{% url post post.slug %}">{{ post.title }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
