{% load category_list %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome to MySite{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/custom/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/custom/css/style.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top m-header">
      <div class="navbar-inner m-inner">
        <div class="container-fluid">
          <a class="brand m-brand" href={% url index %}>TestLAB</a>
            {% if errors %}
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
          <form action="{% url search %}" method="get" class="form-search m-search">
            <input type="text" name="q" placeholder="Type to search" class="pull-right">
          </form>
          <div style="font-size: 24px; float: right; padding: 5px 5px 5px 0px; margin-right: 15px">
            <i class="icon-search icon-large"></i>
          </div>
        </div>
      </div>
    </div>

    <aside class="sidebar">
      <ul class="nav nav-tabs nav-stacked">
        <li class="{% ifequal page_type 'index' %}active{% endifequal %}">
          <a href="{% url index %}">
            <div>
              <div style="font-size: 24px;">
                <i class="icon-camera-retro icon-large"></i>
              </div>
              <div class="title">
                Home
              </div>
            </div>

            <div class="arrow">
              <div class="bubble-arrow-border"></div>
              <div class="bubble-arrow"></div>
            </div>
          </a>
        </li>

        <li class="{% ifequal page_type 'archive' %}active{% endifequal %}">
          <a href="{% url archive %}">
            <div>
              <div style="font-size: 24px;">
                <i class="icon-rss icon-large"></i>
              </div>
              <div class="title">
                Archive
              </div>
            </div>

            <div class="arrow">
              <div class="bubble-arrow-border"></div>
              <div class="bubble-arrow"></div>
            </div>
          </a>
        </li>

        <li class="{% ifequal page_type 'archive' %}active{% endifequal %}">
          <a href="{% url archive %}" rel="clickover" data-content="{% nav_categorylist %}">
            <div>
              <div style="font-size: 24px;">
                <i class="icon-github icon-large"></i>
              </div>
              <div class="title">
                Categories
              </div>
            </div>

            <div class="arrow">
              <div class="bubble-arrow-border"></div>
              <div class="bubble-arrow"></div>
            </div>
          </a>
        </li>

      </ul>
    </aside>

    <div class="main-container">
      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <!-- Copyright information -->
            <div class="pull-right">Copyright Â© 2012 - <a href="#">Your Site</a> / <a href="#">Disclaimer</a> / <a href="#">Privacy Policy</a></div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/static/custom/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/custom/js/bootstrapx-clickover.js"></script>
    <script>
    $('[rel="clickover"]').clickover({ onShown: function() {
      $('.popover.clickover').css({'position': 'fixed', 'width': 'auto'});},
      html: true,
    });
    </script>

  </body>
</html>
