{% extends "base.html" %}

{% block content %}

<div class="hero-unit">
  <h1>Hello, world!</h1>
</div>

<div class="row">
  <div class="span9">

{% for post in latest_posts %}

    <h2><a href={% url post post.slug %}>{{ post.title }}</a></h2>
      <p>on {{ post.created|date:"M d, Y" }}</p>
      <p>{{ post.content|safe }}</p>
        <p>
          <i class="icon-tags"></i>
          TAGS:
          {% for tag in post.tags.all %}
          <a href={% url tag tag %}>{{ tag }}</a>
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        <p>
          <i class="icon-th"></i>
          CATEGORY:
          {% for cat in post.categories.all %}
          <a href={% url category cat %}>{{ cat }}</a>
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
    {% if not forloop.last %}<hr>{% endif %}

{% endfor %}

  </div>
  <div class="span3">
    <h2>Archive</h2>
    <p>lorem ipsum dolor</p>
  </div>
</div>

{% endblock %}
