{% load gravatar %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 headline">
      <h2>
        Meet the Team
      </h2>
    </div>
  </div>
</div>

{% for user in users %}
  <div class="row-fluid">
    <hr>
    <div class="span2">
      <img src={% gravatar_url user.email 175 %} alt="{{ post.author.email }}" class="img-polaroid">
    </div>
    <div class="span8">
      <h2>{{ user.get_full_name }}</h2>
      <p class="lead muted">{{ user.get_profile.role }}</p>
      <p>{{ user.get_profile.description|safe }}</p>
    </div>
  </div>
{% endfor %}
